{% load static %}

<nav class="megamenu navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logos/logo.png' %}" alt="image"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="active" href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About us </a></li>
                <li><a href="{% url 'service_view' %}">Service</a></li>
                <li><a href="{% url 'gallery_view' %}">Gallery</a></li>
                <li><a href="{% url 'Property_detail_view' %}">Properties</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'login_urls' %}">Login</a></li>
                <li><a href="{% url 'register_urls' %}">Register</a></li>
                <li class="social-links"><a href="#"><i class="fa fa-twitter global-radius"></i></a></li>
                <li class="social-links"><a href="#"><i class="fa fa-facebook global-radius"></i></a></li>
                <li class="social-links"><a href="#"><i class="fa fa-linkedin global-radius"></i></a></li>
                <li class="search-option">
                    <button class="search tran3s dropdown-toggle" id="searchDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <form action="#" class="p-color-bg dropdown-menu tran3s" aria-labelledby="searchDropdown">
                        <input type="text" placeholder="Search....">
                        <button class="p-color-bg"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
               </li> 
            </ul>
        </div>
    </div>
</nav>