{% load static %}

<script src="{% static '../assets/plugins/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static '../assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app-style-switcher.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!-- chartist chart -->
<script src="{% static '../assets/plugins/chartist-js/dist/chartist.min.js' %}"></script>
<script src="{% static '../assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
<!--c3 JavaScript -->
<script src="{% static '../assets/plugins/d3/d3.min.js' %}"></script>
<script src="{% static '../assets/plugins/c3-master/c3.min.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'js/pages/dashboards/dashboard1.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="../assets/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static '../assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app-style-switcher.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
